* {
    margin: 0%;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

.wrapperContainer {
    height: 1100px;
    width: 1460px;
    margin: 0 auto;
    display: flex;
}

/* right section */
.rightSection {
    width: 50%;
    height: auto;
}

.rightSection img {
    width: 696px;
    height: 1036px;
}

/* left section */
.leftSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 90px;
}

nav {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    gap: 20px;
}

.logoContainer img {
    height: 80px;
    width: 80px;
}

.navContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.navContainer ul {
    display: flex;
    gap: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.navContainer li {
    cursor: pointer;
}

.navContainer button {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 15px;
    border: 1px solid lightgray;
    background-color: transparent;
}

.navContainer .selected {
    color: white;
    border-color: #ec6b1b;
    background-color: #ec6b1b;
}

/* main section */
main {
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.mainTitle {
    font-size: 48px;
    margin-bottom: 20px;
}

.subTitle {
    gap: 15px;
    display: flex;
    font-size: 32px;
    margin-bottom: 20px;
}

.greenText {
    color: #01BB0A;
}

.orangeText {
    color: #FB792B;
}

.blueText {
    color: #213D77;
}

/* main buttons */
.selectionContainer {
    gap: 10px;
    display: flex;
    margin:20px 0px;
    justify-content: space-between;
}

.selectionContainer button {
    gap: 10px;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #333333;
}

.selectionContainer .selected {
    color: white;
    border-color: #213D77;
    background-color: #213D77;
}

 /* journey details card */
.journeyDetailsSectionContainer {
    display: flex;
    padding: 15px 0px;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-evenly;
    border: 1px solid lightgray;
}

.card {
    display: flex;
    align-items: center;
}

.cardImgContainer img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.selectOption {
    gap: 10px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.selectOption span {
    color: gray;
    font-size: 12px;
}

.dropdown {
    display: flex;
    align-items: center;
    color: #213D77;
}

/* search button */
.searchBtn {
    gap: 15px;
    border: none;
    display: flex;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    padding: 25px 0px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #01BB0A;
}